<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aresfly.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>baichi.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>chuan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>wcm.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>xiaoq.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,1},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>type</key>
		<string>packer</string>
		<key>realTextureFileName</key>
		<string>face_packer.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cfaf52eb1eb41c7531bf2d0be3f50f2e$</string>
		<key>textureFileName</key>
		<string>face_packer.png</string>
	</dict>
</dict>
</plist>