<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,224},{77,105}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{77,105}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{81,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{81,113}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,117},{77,105}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{77,105}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>lose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{451,302}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{451,302}}</string>
                <key>sourceSize</key>
                <string>{487,312}</string>
            </dict>
            <key>lose_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,260},{269,58}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,126},{269,58}}</string>
                <key>sourceSize</key>
                <string>{487,312}</string>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{439,256}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{439,256}}</string>
                <key>sourceSize</key>
                <string>{487,312}</string>
            </dict>
            <key>win_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,260},{269,58}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,126},{269,58}}</string>
                <key>sourceSize</key>
                <string>{487,312}</string>
            </dict>
            <key>win_stagenum-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{105,13}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{105,13}}</string>
                <key>sourceSize</key>
                <string>{125,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover0-hd.png</string>
            <key>size</key>
            <string>{979,331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43c4ad52d7e912fb4a16cefbfe0bc2f7$</string>
            <key>textureFileName</key>
            <string>gameover0-hd.png</string>
        </dict>
    </dict>
</plist>
