<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>range_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,420},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>range_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,754},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>range_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>range_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,605},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>range_170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{312,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,312}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>range_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,420},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>range_226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>range_240.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,754},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>range_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>range_340.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{312,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,312}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>range_452.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,416}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>range_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,605},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items00-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f3328b54f7f3fa264c8285421ce9962$</string>
            <key>textureFileName</key>
            <string>Items00-hd.png</string>
        </dict>
    </dict>
</plist>
